{% extends "base.html.twig" %}
{% block pagecontent %}
    <div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Username:</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email: </th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Last login: </th>
            <td>{{ user.lastLogin|date('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <th>Banned: </th>
            <td>{% if user.enabled %}
                    Not
                    {% else %}
                    Yes
                {% endif %}</td>
        </tr>

    </table>
    </div>
{% endblock %}

