{% extends "base.html.twig" %}
{% block pagecontent %}
    <div class="container">
        {{ form(form) }}
    </div>
    <script src="{{ asset('bundles/app/ckeditor/ckeditor.js') }}"></script>
{% endblock %}
