{% extends "base.html.twig" %}
{% block pagecontent %}
    <div class="container">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="row">
            <div class="col-sm-1"><a class="btn btn-primary btn-sm" href="{{ path('downloads_new') }}"><span class="glyphicon glyphicon-upload"></span> Add new</a>
            </div>
        </div><hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <th>#</th>
                        <th>Filename</th>
                        <th>Link</th>
                        <th>Comment</th>
                        <th>Views</th>
                        {% if is_granted('ROLE_ADMIN') %}
                        <th>Edit</th>
                        <th>Delete</th>
                        {% endif %}
                        </thead>
                        <tbody>
                        <tr><td>1</td><td>CV.pdf</td><td><a href="#">Save</a></td><td>English</td><td><span class="badge">22</span></td>{% if is_granted('ROLE_ADMIN') %}<td class="col-sm-1"><a class="btn btn-xs btn-warning"  href="#">Edit item</a></td><td class="col-sm-1" ><a class="btn btn-xs btn-danger"  href="#">Delete item</a></td>{% endif %}</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    {% else  %}
        <div class="row">
            <div class="jumbotron">
                <h2 class="warning"><span class="glyphicon glyphicon-warning-sign"></span> Error</h2>
                <p>Downloads are for registered users only!</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
