.navbar-text {
	display: inline-block;
	margin: 15px;
}
.navbar-header {
	display: inline-block;
}

p.tags{
	padding: 10px 0;
}
img.profile{
	padding: 0;
	max-width: 80px;
	float: right;
}
img.forum{
	padding: 0;
	max-width: 50px;
	float: none;
}
.img-post{
	max-width: 60%;
	margin: auto;
}
textarea.form-control{
	resize: vertical;
}
.media-body{
	font-size: x-large;
}

.username{
	font-size: 18px;
	font-style: italic;
}
