{% extends "base.html.twig" %}
{% block pagecontent %}
    <div class="container">
    <div class="jumbotron">
        <h2>Dinya Peter 2017 - PHP Symfony 3.2.1</h2>
    </div>
    </div>
{% endblock %}
